@use '../../styles/variables.scss';

.login {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: auto;

	form {
		display: flex;
		flex-direction: column;
		height: 500px;
		> input
		> div {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
		}
	}
}
