@use '../../styles/variables.scss';

.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.subGroup {
	display: flex;
	flex-direction: row;
	justify-content: left;
	gap: 16px;
	> div {
		flex: 1;
	}
}

.thumb {
	object-fit: cover;
	height: 60px;
	width: 60px;
	border-radius: 50%;
}

.divL {
	margin-top: 8px;
	margin-bottom: 8px;
}

.alt {
	margin-right: 8px;
	//margin-left: 8px;
}

.bar {
	color: #c39bff;
	width: 100%;
}

.desc {
	font-size: 20px;
}

.card {
	width: 100%;
	margin: 8px auto;
	box-sizing: border-box;
	box-shadow: variables.$shadow;
	border-radius: 10px;
	padding: 16px;
}

.unlist {
	list-style-type: disc;
	margin-left: 20px;
}

.list {
	list-style-type: decimal;
	margin-left: 28px;
}

.unlistel {
	margin-top: 8px;
}

.listel {
	margin-top: 8px;
}

.clickable {
	color: blue;
	text-decoration: underline;
}
