$white: #ffffff;
$black: #111111;
$accent: #a56ff7;
$grey: rgb(190, 190, 190);
$light-grey: rgb(238, 238, 238);
$green: rgb(18, 183, 18);
$red: rgb(210, 32, 32);

$font: 'Open Sans', sans-serif;

$shadow: 3px 5px 14px #00000041;

$border-radius: 10px;
