@use '../../../styles/variables.scss';

.about {
	h4 {
		margin-top: 0;
		margin-bottom: 8px;
	}

	p {
		margin-bottom: 20px;
	}

	p,
	li {
		font-size: 16px;
		line-height: 1.6;
		color: variables.$black;
	}

	ul {
		list-style: none;
		padding-bottom: 20px;

		li {
			padding-left: 20px;
			position: relative;

			&:before {
				content: '•';
				color: variables.$accent;
				font-weight: bold;
				display: inline-block;
				width: 16px;
				margin-left: -20px; // pull the bullet outside the content, left
			}
		}
	}
}
