@use '../../../styles/variables.scss';

.ingredients-container {
	display: flex;
	flex-direction: column;
	background: variables.$white;
	margin: 4px auto;
}

.segmented-control {
	display: flex;
	width: 100%;
	margin-bottom: 20px;
	border-radius: 30px;
	overflow: hidden;
	background-color: variables.$light-grey;

	.segment {
		flex: 1; // ensures all segments take up equal space
		font-weight: bold;
		background-color: transparent;
		color: variables.$black;
		padding: 15px 0;
		font-size: 14px;
		cursor: pointer;
		transition:
			background-color 0.3s,
			color 0.3s;
		text-align: center;
		border: none;
		position: relative; // needed for pseudo-element positioning

		// add separators using pseudo-elements
		&:not(:first-child):before {
			content: '';
			position: absolute;
			left: 0;
			top: 25%; // vertically center the line
			bottom: 25%; // control the line's height
			width: 1px; // width of the separator line
			background-color: variables.$grey; // color of the separator line
		}
	}

	.active {
		color: variables.$white;
		background-color: variables.$accent;
	}
}
.serving-size-controls {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 20px;

	button {
		border: none;
		background-color: variables.$accent;
		color: variables.$white;
		font-size: 14px;
		padding: 5px 10px;
		cursor: pointer;
		border-radius: variables.$border-radius;

		&:hover {
			background-color: darken(variables.$accent, 10%);
		}

		&:disabled {
			background-color: lighten(variables.$accent, 20%);
			cursor: not-allowed;
		}
	}

	span {
		font-size: 16px;
		font-weight: bold;
		color: variables.$black;
		margin: 0 10px;
	}
}

.action-button {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: variables.$accent;
	color: #ffffff;
	text-align: center;
	padding: 10px 20px;
	border-radius: variables.$border-radius;
	font-size: 16px;
	font-weight: bold;
	border: none;
	cursor: pointer;
	transition:
		background-color 0.3s,
		transform 0.2s; // transition for changing color

	// pseudo-class representing button being pressed
	&:active {
		background-color: darken(
			variables.$accent,
			10%
		); // darken the button color on click
		transform: scale(95%); // slightly decrease size when clicked
	}
}

.button-container {
	padding-top: 20px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin: 4px 0 8px;
}
