@use '../../../styles/variables.scss';

.steps-container {
	display: flex;
	flex-direction: column;
	align-items: center;

	h3 {
		line-height: 0.5;
	}

	ol {
		counter-reset: step-counter;
		list-style-type: none;
		padding: 0;
		margin-top: 4px;

		li {
			display: inline-block;
			counter-increment: step-counter;
			margin-bottom: 15px;

			::before {
				content: counter(step-counter) '. ';
				font-weight: bold;
			}
		}
	}
}
