@use '../../../styles/variables.scss';

.stepDetail {
	background: variables.$white;
	padding: 20px;
	border-radius: variables.$border-radius;
	box-shadow: variables.$shadow;
	margin: 4px auto;
	max-width: 600px;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.imageNavigationWrapper {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px; // space between image and text
}

.stepImage {
	width: 90%;
	height: auto;
	border-radius: variables.$border-radius;
}

.navButton,
.prevButton,
.nextButton {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background-color: transparent;
	color: variables.$accent;
	border-radius: 50%;
	cursor: pointer;
}

.prevButton {
	left: calc(0% - 10px); // outside positioning left
}

.nextButton {
	right: calc(0% - 10px); // outside positioning right
}

.stepHeader {
	h2 {
		color: variables.$accent;
		font-size: 20px;
		margin-bottom: 10px;
	}

	p {
		font-size: 16px;
		color: variables.$black;
	}
}

.backButton {
	margin-top: 20px;
	padding: 10px 20px;
	background-color: variables.$accent;
	color: variables.$white;
	border: none;
	border-radius: variables.$border-radius;
	cursor: pointer;
	text-decoration: none;
	font-size: 16px;

	&:hover {
		background-color: darken(variables.$accent, 10%);
	}
}
