@use '../../../styles/variables.scss';

.stepDetail {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.stepImage {
	margin-top: 2em;
	width: 90%;
	height: auto;
	border-radius: variables.$border-radius;
}

.navButton {
	background-color: transparent;
	color: variables.$accent;
	cursor: pointer;
}

.stepHeader {
	margin-top: 16px;
	h2 {
		color: variables.$accent;
		font-size: 20px;
		margin-bottom: 8px;
	}
	margin-bottom: auto;
}

.stepNav {
	position: absolute;
	bottom: 64px;
	left: 0;
	right: 0;
	display: flex;
	flex-direction: row;
	gap: 32px;
	justify-content: center;

	.navButton {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 120px;
		height: 120px;
		color: variables.$black;
		background-color: variables.$white;
		box-shadow: variables.$shadow;
		border-radius: variables.$border-radius;
		text-decoration: none;

		span {
			scale: 2;
			user-select: none;
		}

		&:hover {
			scale: 1.05;
		}

		&:active {
			background-color: darken(variables.$white, 10%);
			transform: scale(95%);
		}
	}
}

.disabled {
	pointer-events: none;
	opacity: 0.3;
}
