@use '../../styles/variables.scss';

.ingredient-item {
	border-bottom: 1px solid #eee;
	display: flex;
	align-items: center;
	font-size: 16px;
}

.ingredient-name {
	font-weight: bold;
	margin: 8px;
}

.addButton {
	background: transparent;
	border: none;
	cursor: pointer;
	color: variables.$green;
}

.removeButton {
	background: transparent;
	border: none;
	cursor: pointer;
	color: variables.$red;
}
