@use '../../styles/variables.scss';

.recipeNavBar {
	padding-top: 4px;
	padding-bottom: 4px;
}
.returnButtonWrapper {
	display: flex;
}
.returnButton {
	font-size: 14px;
}

.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	h2 {
		margin-bottom: 0;
	}
}

.favorite {
	background-color: white;
	border: none;
	color: #a56ff7;
	transition: scale 20ms ease-in-out;

	&:hover {
		scale: 1.1;
	}
}
