@use '../../styles/variables.scss';

.dietaryMenu {
	display: flex;
	flex-direction: column;
	margin-top: 8px;
	gap: 4px;
	> li {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
}
