@use '../../styles/variables.scss';

.dietaryMenu {
	display: flex;
	flex-direction: column;
	margin-top: 8px;
	background-color: variables.$light-grey;
	gap: 2px;
	> li {
		padding: 4px 4px;
		background-color: variables.$white;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}
}
