@use '../../styles/variables.scss';

#shopping-list {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.header-container {
	display: flex;
	align-items: center; // Align items vertically in the center
	justify-content: flex-end; // Pushes the header to the left and toggle to the right
	padding: 10px 0 0;
}

.clear-all-button {
	margin-right: auto;
	font-size: 14px;
}
