// Import variables from a central variables file.
@use '../../styles/variables.scss';

.shopping-list-recipe {
	width: 100%;
	margin: 10px auto;
	box-sizing: border-box;
	box-shadow: variables.$shadow;
	border-radius: 4px;
	padding: 15px;
}

.recipe-title {
	font-size: 20px;
	margin-bottom: 12px;
	padding-bottom: 6px;
}

.ingredient-item {
	padding: 10px 0;
	border-bottom: 1px solid #eee;
	display: flex;
	align-items: center;
	font-size: 16px;
}

.ingredient-name {
	font-weight: bold;
	margin: 8px;
}

.ingredient-quantity {
	font-weight: bold;
	color: variables.$accent;
}

// Custom circular checkbox styles.
.custom-checkbox {
	display: inline-flex;
	align-items: center;
	cursor: pointer;
}

.hidden-checkbox {
	display: none; // Hide the actual checkbox input.
}

.checkbox-circle {
	height: 20px;
	width: 20px;
	border-radius: 50%;
	border: 2px solid #555; // Consider using a variable for border color.
	display: inline-block;
	margin-right: 10px;
	position: relative;

	&:after {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) scale(0);
		transition: transform 0.2s ease;
		width: 60%;
		height: 60%;
		border-radius: 50%;
		background-color: #555; // Consider using a variable for the fill color.
	}
}

.hidden-checkbox:checked + .checkbox-circle:after {
	transform: translate(-50%, -50%) scale(1); // Expand the inner circle when checked.
}

.checked-ingredient {
	text-decoration: line-through;
	color: #999; // Consider using a variable for the checked color.
}
