@use '../../styles/variables.scss';

.shopping-list-recipe {
	width: 100%;
	margin: 10px auto;
	box-sizing: border-box;
	box-shadow: variables.$shadow;
	border-radius: variables.$border-radius;
	padding: 8px 12px;
	position: relative;
}

.recipe-title {
	cursor: pointer;
	user-select: none; // Prevents text selection on click
	position: relative;
	font-size: 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	// Icon to show dropdown is expandable
	&:after {
		content: 'expand_more'; // 'expand_more' is a Material Icons symbol
		font-family: 'Material Symbols Outlined';
		transition: transform 0.3s ease; // Smooth transition for transform
	}

	// When the dropdown is open, rotate the icon
	&.rotate:after {
		transform: rotate(-180deg); // Rotates the icon by 180 degrees
	}
}

.delete-button {
	position: absolute; // position the button absolutely
	top: 50%;
	right: 30px; //distance from right
	transform: translateY(-50%); // center the button vertically
	background: transparent;
	border: none;
	cursor: pointer;

	&:hover,
	&:focus {
		color: variables.$accent;
		border-radius: 50%;
	}
}

.ingredient-list {
	margin-top: 8px;
}

.ingredient-item {
	border-bottom: 1px solid #eee;
	display: flex;
	align-items: center;
	font-size: 16px;
}

.ingredient-name {
	font-weight: bold;
	margin: 8px;
}

// Different text style for checked ingredients
.checked-ingredient {
	text-decoration: line-through;
	color: variables.$grey;
}

.delete-ingredient-button {
	border: none;
	background: transparent;
	cursor: pointer;
	color: #cc0000;
	margin-left: auto;
}
