@use '../../styles/variables.scss';

.account {
	display: flex;
	flex-direction: column;
	justify-content: center;

	h3 {
		padding: 0;
		margin: 0;
	}

	.subTitle {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 16px 0 0px;
		h4 {
			color: variables.$accent;
		}
	}

	.navigate {
		margin: 0;
	}

	.picture {
		margin: auto;
		margin-top: 16px;
		font-size: 6rem;
	}

	.pictureSubtitle {
		color: variables.$accent;
		margin: auto;
		cursor: pointer;
	}

	.buttons {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-top: 8px;
		span {
			font-size: 1.3rem;
		}
	}

	.header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 16px 0 8px;
	}

	.emptyDefault {
		color: #808080;
	}

	.empty {
		color: #808080;
		margin-top: 50%;
	}
}
